.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &:checked ~ .checkmark {
      background-color: #FF7517;
      border: 1px solid #FF7517;

      &:after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 7px;
      height: 11px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &:hover {
    opacity: 0.8;
  }
}
